<?xml version="1.0"?>
<config>
    <modules>
        <Mss_Twocheckout>
            <version>2.4.4</version>
        </Mss_Twocheckout>
    </modules>
   <global>
      <models>
          <twocheckout>
                  <class>Mss_Twocheckout_Model</class>
              </twocheckout>
      </models>
      <helpers>
          <twocheckout>
              <class>Mss_Twocheckout_Helper</class>
          </twocheckout>
      </helpers>
      <blocks>
          <twocheckout>
              <class>Mss_Twocheckout_Block</class>
          </twocheckout>
      </blocks>
      <resources>
          <twocheckout_setup>
              <setup>
                  <module>Mss_Twocheckout</module>
              </setup>
              <connection>
                  <use>directory_setup</use>
              </connection>
          </twocheckout_setup>
          <twocheckout_write>
              <connection>
                  <use>local_write</use>
              </connection>
          </twocheckout_write>
          <twocheckout_read>
              <connection>
                  <use>local_read</use>
              </connection>
          </twocheckout_read>
      </resources>
    <events>
      <controller_action_postdispatch_checkout_onepage_saveOrder>
        <observers>
          <output_twocheckout_redirect>
            <type>singleton</type>
            <class>Mss_Twocheckout_Model_Observer</class>
            <method>output_mss_twocheckout</method>
          </output_twocheckout_redirect>
        </observers>
      </controller_action_postdispatch_checkout_onepage_saveOrder>
      <sales_order_creditmemo_refund>
        <observers>
          <issue_creditmemo_refund>
            <type>singleton</type>
            <class>Mss_Twocheckout_Model_Observer</class>
            <method>issue_creditmemo_refund</method>
          </issue_creditmemo_refund>
        </observers>
      </sales_order_creditmemo_refund>
    </events>
  </global> 
    <frontend>
        <layout>
            <updates>
                <twocheckout>
                    <file>twocheckout.xml</file>
                </twocheckout>
            </updates>
        </layout>
        <routers>
            <twocheckout>
                <use>standard</use>
                <args>
                    <module>Mss_Twocheckout</module>
                    <frontName>twocheckout</frontName>
                </args>
            </twocheckout>
        </routers>
        <secure_url>
            <twocheckout_redirect>/twocheckout/redirect/</twocheckout_redirect>
        </secure_url>
    </frontend>
<!--     <default>
        <payment>
            <twocheckout>
                <twocheckout_active>1</twocheckout_active>
                <twocheckout_submit_url>1</twocheckout_submit_url>
                <model>twocheckout/checkout</twocheckout_model>
                <twocheckout_title>2Checkout (Visa, MasterCard, Amex, Discover, JCB, Diners Club, Debit Card, PayPal)
                    </twocheckout_title>
                <twocheckout_sid>Enter 2Checkout Account Number</twocheckout_sid>
                <twocheckout_secret_word>Enter your Secret Word</twocheckout_secret_word>
                <twocheckout_submit_url>1</twocheckout_submit_url>
                <twocheckout_demo>0</twocheckout_demo>
                <twocheckout_sort_order>1</twocheckout_sort_order>
            </twocheckout>
        </payment>
    </default> -->
</config>
